<h1>E-Commerce App</h1>

<% if @warehouses.empty?%>
<p>Nenhum galpão encontrado</p>
<% end %>

<% @warehouses.each do |w| %>
    <p>
    <%= link_to w["name"], warehouse_path(w["id"]) %>
    </p>
   <p>
    <%= w["code"] %>
    </p>
<% end %>

<%# <p>Dados crus da API:</P>
<%= @data %>